PORT=3000

AUTH_SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxx

NODE_ENV=production

AUTH_SECRET_KEY=7efrmxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SENTRY_DSN=https://xxxxxxxx@sentry.io/123456


DATABASE_URL="mysql://f25eWxqZRgpPNrS.root:axxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/test?sslaccept=strict"



EMAIL_USER=example@gmail.com
EMAIL_PASS=xxxxxxxxxxxxxxxx

CONTACT_EMAIL_USER="xxxxxx.com"
CONTACT_EMAIL_PASS="xxxxxx2024"

## Set to 'http://localhost:5173' for development or 'https://ivory-dugong-883765.hostingersite.com' for production
CORS_ORIGIN="https://ivory-dugong-883765.hostingersite.com"

# Auth0 Configuration
AUTH0_DOMAIN="dev-xxxxxxxxxxxxxhb.eu.auth0.com"
AUTH0_CLIENT_ID="J5Vxxxxxxxxxxxxxxxxxxxx0Y"
AUTH0_CLIENT_SECRET="dzSofxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxUe"

AUTH0_DOMAIN=xxxxxx.eu.auth0.com
